
.main-header{
    position: relative;
   background-image: url(../assets/header-bg.png);
   height: 120vh;
   background-position: center;
   background-size: cover;
   font-family: "Magistral";
   overflow: hidden;
}

.logo-container img{
    width: 120px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 10px;
}
ul{
    display: flex;
}
.sub-nav{
    display: flex;
    align-items: center;
    gap: 30px;
}
li{
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: small;
    margin-left: 30px;
    text-transform: capitalize;
    cursor: pointer;
    transition: 1s;
}li:hover{
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: small;
    margin-left: 30px;
    text-transform: capitalize;
    cursor: pointer;
    border-bottom: 2px solid #8dc4fc;
    transition: 1s;
}


.nav-btn{
    background-color: #8dc4fc;
    text-transform: capitalize;
    border: none;
    outline: none;
    padding: 10px 40px;
    color: white;
    border-radius: 100px;
    font-family: "Magistral";
}.nav-btn:hover{
    background-color: #5c9cdc;
    text-transform: capitalize;
    border: none;
    outline: none;
    padding: 10px 40px;
    color: white;
    border-radius: 100px;
    font-family: "Magistral";
}
.hamburger{
   display: none;
}




/* ------- HERO TEXT------ */

.main-spinner-container{
    position: absolute;
    left: 20%;
    top: 30%;
    z-index: 100;
}
.spinner-container {
    width: 150px;
    height: 150px;
    position: relative;
    margin: 30px auto;
    overflow: hidden;
    scale: 2.5;
    }
  
  .spinner {
    position: absolute;
    width: calc(100% - 9.9px);
    height: calc(100% - 9.9px);
    border: 1px solid transparent;
    border-radius: 50%;
    border-top-color: #b0c8e0;
    animation: spin 15s cubic-bezier(0.17, 0.49, 0.96, 0.79) infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }

.hero-container{
    position: absolute;
    top: 30%;
    left: 15%;
    z-index: 50000;
}

h1{
    color: white;
    font-size: 30px;
}
.hero-p-text{
    color: #8dc4fc;
    font-size: 30px;
}
.hero-btn{
    background-color: #8dc4fc;
    text-transform: capitalize;
    border: none;
    outline: none;
    padding: 10px 30px;
    color: white;
    border-radius: 100px;
    margin-top: 20px;
    font-family: "Magistral";
}
.hero-btn:hover{
    background-color: #5c9cdc;
    text-transform: capitalize;
    border: none;
    outline: none;
    padding: 10px 30px;
    color: white;
    border-radius: 100px;
    margin-top: 20px;
    font-family: "Magistral";
}


@media screen and (max-width: 800px){
    .logo-container img{
        width: 120px;
    }
    
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 80px;
        padding: 10px 50px 10px;
        position: relative;
    }
    ul{
        display: flex;
        flex-direction: column;
    }

    .hamburger{
        z-index: 50000;
        display: block;
    }
    .sub-nav{
        
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        text-align: left;
        background-color: white;
        width: 0vw;
        height: 100vh;
        padding: 0px;
        overflow: hidden;
        transition: .5s;
    }.sub-nav_active{
        z-index: 20000;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        text-align: left;
        background-color: white;
        width: 50vw;
        height: 100vh;
        padding: 10px;
        overflow: hidden;
        transition: .5s;
    }
    li{
        text-decoration: none;
        list-style: none;
        color: black;
        font-size: small;
        margin-left: 30px;
        text-transform: capitalize;
        margin-top: 50px;
    }
    
    
    .nav-btn{
        background-color: #8dc4fc;
        text-transform: capitalize;
        border: none;
        outline: none;
        padding: 10px 40px;
        color: white;
        border-radius: 100px;
        font-family: "Magistral";
    }
    }